.header {
  position: relative;
  width: 100%;
  background-color: #121212;
}

.headerContent {
  position: relative;
  width: 100%;
}

.logoContainer {
  width: 100%;
  overflow: hidden;
}

.logoImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}