.container {
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    top: 60px;
  }
}

.heroGif {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
