/* Event Cards Container */
.eventCardsContainer {
  display: flex;
  justify-content: center;
  gap: 80px;
  position: absolute;
  left: 50%;
  top: 364px;
  transform: translateX(-50%);
  z-index: 2;
}

@media (max-width: 991px) {
  .eventCardsContainer {
    flex-direction: column;
    gap: 40px;
    top: 280px;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .eventCardsContainer {
    top: 220px;
  }
}

.featureIcon {
  width: 24px;
  height: 24px;
}
