.container {
  background-color: rgba(29, 29, 29, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
}

.header {
  background-color: rgba(18, 18, 18, 1);
  display: flex;
  min-height: 108px;
  width: 100%;
}

.divider {
  display: flex;
  min-height: 3px;
  width: 100%;
}

.eventSection {
  align-self: center;
  display: flex;
  margin-top: 23px;
  width: 100%;
  max-width: 1618px;
  align-items: stretch;
  gap: 20px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eventInfo {
  display: flex;
  align-items: stretch;
  gap: 23px;
  flex-wrap: wrap;
}

.eventLogo {
  aspect-ratio: 2.4;
  object-fit: contain;
  object-position: center;
  width: 178px;
  flex-shrink: 0;
  max-width: 100%;
}

.eventTitle {
  margin-top: auto;
  margin-bottom: auto;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.eventBrand {
  font-weight: 700;
}

.vibeLogo {
  aspect-ratio: 2.27;
  object-fit: contain;
  object-position: center;
  width: 168px;
  flex-shrink: 0;
  max-width: 100%;
}

.promoSection {
  align-self: center;
  display: flex;
  margin-top: 55px;
  width: 100%;
  max-width: 1618px;
  align-items: stretch;
  gap: 20px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promoText {
  align-self: start;
  display: flex;
  margin-top: 5px;
  align-items: stretch;
  gap: 12px;
  color: rgba(18, 199, 14, 1);
}

.promoMessage {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.promoIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 14px;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}

.cartTag {
  border-radius: 10px;
  background-color: rgba(18, 199, 14, 1);
  padding: 6px 22px 20px 22px;
  color: rgba(255, 255, 255, 1);
}

.mainContent {
  align-self: center;
  z-index: 10;
  margin-top: -14px;
  width: 100%;
  max-width: 1618px;
}

.contentGrid {
  gap: 20px;
  display: flex;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 63%;
  margin-left: 0px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 37%;
  margin-left: 20px;
}

.footerSection {
  background-color: rgba(18, 18, 18, 1);
  display: flex;
  margin-top: -54px;
  width: 100%;
  padding-top: 84px;
  flex-direction: column;
  align-items: stretch;
}

.footerContent {
  align-self: center;
  display: flex;
  margin-left: 11px;
  width: 100%;
  max-width: 1427px;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerLeft {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  color: rgba(255, 255, 255, 1);
}

.footerTitle {
  font-size: 24px;
  font-weight: 900;
}

.footerDescription {
  font-size: 20px;
  font-weight: 400;
  align-self: stretch;
  margin-top: 36px;
}

.socialIcons {
  aspect-ratio: 4.88;
  object-fit: contain;
  object-position: center;
  width: 224px;
  margin-top: 57px;
  max-width: 100%;
}

.footerRight {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.contactSection {
  display: flex;
  margin-left: 11px;
  width: 312px;
  max-width: 100%;
  flex-direction: column;
  align-items: stretch;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  white-space: nowrap;
}

.contactTitle {
  font-weight: 900;
  align-self: start;
}

.contactInfo {
  display: flex;
  margin-top: 36px;
  align-items: stretch;
  gap: 28px;
  font-weight: 400;
}

.contactIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 32px;
  flex-shrink: 0;
}

.contactEmail {
  flex-grow: 1;
  flex-shrink: 1;
  width: 246px;
  flex-basis: auto;
}

.logoSection {
  margin-top: 34px;
  width: 100%;
}

.logoGrid {
  gap: 20px;
  display: flex;
}

.logoColumnLeft {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 72%;
  margin-left: 0px;
}

.logoGroup {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  gap: 9px;
}

.builderLogo {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 166px;
  flex-shrink: 0;
  max-width: 100%;
}

.vibeLogo2 {
  aspect-ratio: 2.98;
  object-fit: contain;
  object-position: center;
  width: 113px;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
  max-width: 100%;
}

.logoColumnRight {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 28%;
  margin-left: 20px;
}

.partnerLogo {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 112px;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
  max-width: 100%;
  align-self: stretch;
}

.copyright {
  background-color: rgba(0, 0, 0, 1);
  margin-top: 5px;
  width: 100%;
  padding: 21px 70px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
  }

  .divider {
    max-width: 100%;
  }

  .eventSection {
    max-width: 100%;
  }

  .promoSection {
    max-width: 100%;
    margin-top: 40px;
  }

  .cartTag {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .mainContent {
    max-width: 100%;
  }

  .contentGrid {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }

  .leftColumn {
    width: 100%;
    margin-left: 0;
  }

  .rightColumn {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }

  .footerDivider {
    max-width: 100%;
    margin-top: 40px;
  }

  .footerSection {
    max-width: 100%;
  }

  .footerContent {
    max-width: 100%;
  }

  .footerLeft {
    max-width: 100%;
  }

  .footerDescription {
    max-width: 100%;
  }

  .socialIcons {
    margin-top: 40px;
  }

  .footerRight {
    max-width: 100%;
  }

  .contactSection {
    margin-left: 10px;
    white-space: initial;
  }

  .contactInfo {
    white-space: initial;
  }

  .logoSection {
    max-width: 100%;
  }

  .logoGrid {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }

  .logoColumnLeft {
    width: 100%;
    margin-left: 0;
  }

  .logoGroup {
    margin-top: 24px;
  }

  .logoColumnRight {
    width: 100%;
    margin-left: 0;
  }

  .partnerLogo {
    margin-top: 40px;
  }

  .copyright {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
