/* Header Elements */
.topHeaderBackground {
  width: 100%;
  height: 80px;
  position: absolute;
  left: 0;
  top: 115px;
  z-index: 1;
}

.topHeader {
  width: 100%;
  height: 115px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.headerIcon {
  width: 51px;
  height: 99px;
  position: absolute;
  right: 118px;
  top: 788px;
  z-index: 3;
}
