/* Container */
.container {
  width: 100vw;
  min-width: 100%;
  min-height: 5451px;
  position: relative;
  overflow-x: hidden;
  background-color: #fdfdff;
}

@media (max-width: 991px) {
  .container {
    min-height: auto;
  }
}

.footerWrapper {
  position: absolute;
  top: 4833px;
  width: 100%;
}